[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipaddress = "*"
tabulate = "*"
icecream = "*"
flake8 = "*"
sqlalchemy = "*"
pyqt5 = "*"

[dev-packages]

[requires]
python_version = "3.8"
